.CartWidget {
    width: auto;
    padding: 12px;
    font-size: 8px;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: medium;
}

.CartImg {
    margin-right: 10px;
}
.Button {
    width: auto;
    padding: 12px;
    font-size: 10px;
    background: var(--color-bg);
    border-radius: 30px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}
.Button:hover {
    width: auto;
    padding: 12px;
    font-size: 10px;
    background: var(--color-bg);
    border-radius: 30px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    border: 1px;
    border-style: solid;
    border-color: var(--color-primary);
    cursor: pointer;
    outline: inherit;
}
.footerCart{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
}