.NavBar {
    display: flex;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background:#d73f5877;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.5px;
    border-style: solid;
    border-color: var(--color-primary);
    
  }
  
  .Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .Option {
    
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 10px;
    background: var(--color-bg);
    border-radius: 30px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }

  .Option:hover{
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 10px;
    background: var(--color-bg);
    border-radius: 30px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    border: 1px;
    border-style: solid;
    border-color: var(--color-primary);
    cursor: pointer;
    outline: inherit;
  }

  .ActiveOption {
    
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 10px;
    background: var(--color-primary);
    border-radius: 30px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }
  .logo{
    text-decoration:inherit;
    color: var(--color-bg);
  }
  .logo:hover{
    text-decoration:inherit;
    color: var(--color-white);
  }