@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
  --color-bg: #1A1A2E;
  --color-bg-variant: #16213ea5;
  --color-primary: #E94560;
  --color-primary-variant: #d73f58bd;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255 ,0.6);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1A1A2E;
  background-image: url(../src/assets/bg-texture.png)
}

code {
  font-family: 'Poppins', sans-serif;
}
