.Count{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;

}
.buttonCount {
    color: var(--color-white);
    padding: 0.5em 1em;
    font-size: 10px;
    border-radius: 5em;
    text-decoration: none;
    background: var(--color-bg);

    border: 1px solid var(--color-primary);
    transition: all .3s;
    box-shadow: 4px 4px 12px var(--color-primary),
                -4px -4px 12px var(--color-primary);
    margin: 0px 10px 0px 10px
   }
   
   .buttonCount:hover {
    border: 1px solid var(--color-primary);
    cursor: pointer;
   }
   
   .buttonCount:active {
    box-shadow: 4px 4px 12px var(--color-primary),
                -4px -4px 12px var(--color-primary);
   }

   .countText {
    color: var(--color-white);
    font-size: 1rem;
   }